<!DOCTYPE hmtl>
<html lang ="es">
<head>
	<meta charset = " utf-8">
	<title>Login -  {% block titulo %}{% endblock%}</title>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/kickstart.css" media="all" />                  <!-- KICKSTART -->
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css" media="all" />                          <!-- CUSTOM STYLES -->
{% block style_css %}{% endblock %}

</head>
<body>
	<section class = "contenido">
		{% block contenido %}{% endblock %}
	</section>
	</div>
</body>
</html>